/*.container{


    height: 100vh;
    z-index: 1;

}*/

.navbar{
    margin-top: 20px;
    width: 80%;

    display: flex;
    align-items: center;
    margin-right: 156px;

}
ul{
    border-radius: 21px;
    border-style: solid;
    border-color: #9b7e5361;
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 9px;
    background-color: #ffffff38;
    border-style: solid;
    border-color: #9b7e5361;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}
li:hover a{
    transition: 0.5s;
    color: white;
}
li:hover{
    background-color:#8f6a335c;
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    color: black;
    /*font-family: "DecoType Naskh Special";*/
    font-family: Calibri;
    font-size: 18pt;
    font-weight: bold;
}
 .about {
     background-color:#8f6a335c;
     transition: 0.5s;
     color: white;
 }
 .about a{
     color: white;
 }
body {
    background-image: url("img/img2.PNG");
    background-size: cover;
    margin:0;
    padding: 0;
    height:100%;
}
.container{
   position: absolute;
    top: 111px;
    left: 143px;
    display: flex;

    flex-wrap: nowrap;
    /*background: #a1736236;*/
    opacity: inherit;
    z-index: 2;
    width: 1232px;
    height: 575px;
    border-radius: 47px;
    border-style: solid;
    border-color: #9b7e5361;
}

.para{
    width: 750px;
}
span{
    color: #b87718;
    font-size: 50pt;
    font-family: serif;
    font-family: calibri;
    margin-right: 8px;
}
p{
    font-size: 25pt;
    text-align: right;
    margin-right: 26px;
    font-family: Calibri;
    font-weight: bold;
    line-height: 55px;
}
.pic{
    width: 387px;
    height: 307px;
    border-radius: 37px;
    position: absolute;
    left: 6px;
    top: 5px;

}
.img1{
    text-align: left;
    position: absolute;
    right: 780px;
    bottom: 143px;
    width: 397px;
    height: 319px;
    border-radius: 43px;
    border-style: solid;
    border-color: #9b7e5361;
    background: #a0857b4f;
}


